<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.readjoy.readjoyapi.common.mapper.ResourceMapper">

    <update id="incrementDownloadCount">
        UPDATE resource SET downloadCount = downloadCount + ${step} WHERE url = #{url}
    </update>
    <update id="incrementLikeCount">
        UPDATE resource SET resource.likeCount = resource.likeCount + ${step} WHERE resourceId = #{resourceId}
    </update>
</mapper>
